
/*--------------------------------------------------------------
# main
--------------------------------------------------------------*/
#main {
    margin-left: 20px;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}


@media (max-width: 992px) {
    #header {
        width: 300px;
        background: #fff;
        border-right: 1px solid #e6e9ec;
        left: -300px;
    }
}

@media (min-width: 992px) {
    #main {
        margin-left: 100px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/


.nav-menu .item {
    color: #282c34 !important;
    border: #b9d1f0;
    border-radius: 25px;
    background: #b9d1f0;
    padding: 15px;
    margin: 10px 5px;
}
.nav-menu .item:hover{
 color: white !important;
}
.nav-menu .item .text {
    display: none;
}
.nav-menu .item:hover .text{
    display: inline-block;
}
.nav-menu i {
    color: #04254e !important;
    font-size: 20px;
}

/*--------------------------------------------------------------
# Hero section
--------------------------------------------------------------*/

#hero {
    background: #04254e;
    width: 100%;
    height: 100vh;
    padding: 0;
}
#hero h2{
    margin-left: 100px;
    font-size: 70px;
    font-weight: 600;
    color: ghostwhite;
}
#hero p{
    margin-left: 100px;
    font-size: 20px;
    color: ghostwhite;
}
#hero .socials{
    margin-left: 100px;
}
#hero .socials .socials-link {
    margin: 10px;
    font-size: 20px;
    color: ghostwhite;
}
#hero p span {
    color: red;
    letter-spacing: 1px;
}
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 70px;
    color:  #04254e;
}

.section-title h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: red;
    bottom: 0;
    left: calc(50% - 20px);
}
.section-title h4::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.about{
    margin-bottom: 50px;
    background: #f2f6f9;
    width: 100%;
    height: 80vh;
    padding: 0;
}
.about .content{
    color: #45505b;
    font-size: 28px;
    font-weight: 900;
}
.about .counts{
    margin: 10px;
}
.about .counts i {
   font-size: 50px;
    margin-top: 0;
    padding-top: 0;

}
.about .counts .number {
    font-size: 50px;

}
.about .counts p{
    margin-left: 35px;
}

/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*
 */
.resume {
    padding: 10px;
}
.resume .resume-title {
    font-size: 35px;
    font-weight: 500;
}
.resume .resume-item h4{
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    color: #04254e;
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*
 */
.skills{
    margin-top: 50px;
    padding: 10px;
    background: #f2f6f9;
    width: 100%;
    height: 50vh;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*
 */

.contact {
    margin-top: 50px;
}
.contact .info {
    margin: 30px;
}
.contact .form-group {
    margin: 30px;
}
.contact .form-group  input{
    height: 40px;
}
.contact .form-group .form-control textarea {
    height: 60px;
}

.contact .button-center {
    text-align: center;
}
.contact .button-center button {
    background: #04254e;
    width: 50%;
    height: 45px;
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*
 */
.footer {
    text-align: center;
    margin-top: 70px;
    padding: 30px;
    background: #f2f6f9;
}
.footer h3 {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 800;
}


.footer .socials .socials-link {
    margin: 10px;
    font-size: 20px;
    color: #04254e;

}



